<html>
	<head>
		<title>Edit product {{products[0]['id']}} | Semi Restful Route Demo</title>
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	</head>
	<body>
		<h1>Edit product {{products[0]['id']}}</h1>
		<form action="/products/update/{{products[0]['id']}}" method="post">
			<label>Name</label>
			<input type="text" name="name" value="{{products[0]['name']}}"><br>
			<label>Description</label>
			<input type="text" name="description" value="{{products[0]['description']}}"><br>
			<label>Price</label>
			<input type="text" name="price" step="0.01" min=0 value="{{products[0]['price']}}"><br>
			<input type="submit" name="action" value="Update">
		</form>
		<a href="/products/show/{{products[0]['id']}}">Show</a>
		|
		<a href="/products">Back</a>
		{% with messages = get_flashed_messages(with_categories=true) %}
		  {% if messages %}
		    {% for category, message in messages %}
		      <p>{{ message }}</p>
		    {% endfor %}
		  {% endif %}
		{% endwith %}
	</body>
</html>
